@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1674797968867') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiaoxi:before {
  content: "\e62c";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-xiaolian:before {
  content: "\e627";
}

.icon-xiangzuo:before {
  content: "\eb15";
}

.icon-yanjing:before {
  content: "\e8bf";
}

