@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1673433114482') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #777;
}

.icon-xiasanjiaoxing:before {
  content: "\e642";
}

